.flow{
    position: relative;
    left: 45%;
    width: 50%;
    top: 5%;
    height: calc(2vh + 500px);
    overflow: scroll;
}

.pre,
.next{
  position: absolute;
  top: 5%;
  width: 20px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.pre{
  left: 0; 
  border-radius: 3px 0 0 3px;
  z-index: 999;
}

.next{
  right: 0;
  border-radius: 0 3px 3px 0;
  z-index: 999;
}

.pre:hover,
.next:hover{
  background-color: #fff;
  opacity: 0.3;
}