.singleFlow{
    margin-bottom: 5%;
    width: 120%;
    height: auto;
    overflow: scroll;
}

.singleFlow h3{
    /* padding-left: 20%; */
    text-align: left;
}
.flow-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flow-items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 2%;
}
.flow-button{
    margin: 2%;
}