.work{
    position: absolute;
    left: 0;
    width: 40%;
    height: calc(2vh + 500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-right: 1px solid white;
    font-size: 1rem;
}
.work-responsibility{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F0F8FF;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    padding: 2%;
    margin: 5%;
    text-align: center;
}

.work-content{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F0F8FF;
    height: calc(350px + 2vh);
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    padding: 2%;
    margin: 5%;
}

.work h1{
    font-size: 1rem;
    text-align: center;
}