.infoBar{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 4%;
}

.comp{
    position: relative;
    left: 0;
    padding-right: 5%;
}

.info{
    position: relative;
    text-align: left;
}