.userInfo{
    position: relative;
    height: calc(2vh + 500px);
    width: 100%;
}
.userCard_whole{
    position: absolute;
    left: 20%;
    top: 10%;
    height: 71%;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.userImage-up{
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    height: 45%;
    padding: 5%;
    border-right: 1px blanchedalmond solid;
    opacity: 0.4;
    background-image: url('./bg.jpeg');
    
}
.userImage-down{
    position: absolute;
    top: 45%;
    left: 0;
    width: 42%;
    height: 55%;
    padding: 5%;
    border-right: 1px blanchedalmond solid;
    opacity: 0.8;
    background-color: white;
    
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    margin-top:10%;
    margin-left: 12%;
    border: 1px solid white;
    background-color: antiquewhite;
    border-radius: 100%;
    z-index: 999;
}
.line{
    position: absolute;
    top: 45%;
    left: 0;
    height: 0;
    width: 42%;
    border-bottom: 1px solid white;
}
.userName{
    position: absolute;
    top: 70%;
    left: 12%;
}

.userCard{
    position: absolute;
    left: 45%;
    top: 15%;
    width: 40%;
    margin-left: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #B9D3EE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.infoCard{
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 0.5px solid black;
}
.passChangeCard{
    padding-bottom: 3%;
    
}
.textF{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:space-evenly;
}