html {
    --imp-text-color: #3785af;
  }

  /* Navbar */

  .navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.3rem 2rem !important;
    font-size: 30px !important;
  }

  .navbar-nav .nav-link {
    color: rgb(221, 221, 226) !important;
    color: rgb(1, 1, 3) !important;
    font-size: 1.3rem;
    font-weight: bold;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .form .form-control .button{
    padding-right: 6rem;
  }

  .navbar-content {
    color: white !important;
  }

  .mynavbar form input{
    width: 160px;
    height: 40px;
    background: rgba(255, 255, 255, 0.435);
    border: 0px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: #040000;
    padding: 12px 26px;
    font-weight: 450;
    font-size: 15px;
    transition: 0.3s ease-in-out;
  }

  .mynavbar form input:focus {
    background: rgba(255, 255, 255, 1);
    border: 0;
  }

  .mynavbar form button {
    width: 100px;
    height: 40px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2936c6;
    border: 0;
    font-size: 17px;
    border-radius: 15px;
    z-index: 1;
    margin-right:60px;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .navbar-alert {
    width: 908px;
    font-weight: bold;
    margin: auto;
    /* margin-left:360px ; */
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 20px !important; 
    /* background-color: #646db2 !important; */
  }

  /* Login */

  .login-content {
    padding: 5rem 2rem !important;
    color: whitesmoke;
    text-align: left;
  }
  
  .login {
    padding-top: 0;
    padding-left: 180px;
  }

  .login form {
    justify-content: center;
  }

  .login form input,.login form select{
    width: 380px;
    background: rgba(255, 255, 255, 0.435);
    border: 0px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #040000;
    margin: 0 0 20px 0;
    padding: 12px 26px;
    font-weight: 450;
    font-size: 20px;
    letter-spacing: 0.6px;
    transition: 0.3s ease-in-out;
  }

  .login form input:focus,.login form select:focus{
    background: rgba(255, 255, 255, 1);
    border: 0;
  }

  .login form input::placeholder,.login form select::placeholder {
    font-size: 20px;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.389);
  }

  .login form button {
    font-weight: 500;
    color: #ffffff;
    background-color: #2936c6;
    border: 0;
    padding: 12px 46px;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 16px;
    padding-left: 40px;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .login-option {
    font-size: 20px;
    margin-top: 20px;
  }

  .login-alert {
    width: 380px;
    font-weight: bold !important;
    /* margin-left:360px ; */
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 20px !important; 
  }
  
  /* Home Page */

  .wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }

  #tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
  }

  .home-content {
    padding: 5rem 2rem !important;
    color: whitesmoke;
    text-align: left;
  }
  
  .home-header {
    padding-top: 5rem;
  }
  
  /* --------- */
  /* Footer */
  /* --------- */
  .footer {
    background-color: transparent;
    margin-top: 30px !important;
    margin-bottom: 30px !important ;
  }

  .footer-copywright {
    color: rgb(36, 33, 33);    
    text-align: center !important;
  }
  
  .footer-body {
    z-index: 1;
    text-align: center !important;
  }
  
  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
  .blockquote-footer {
    color: #a588c0 !important;
  }
  
  /* Case sLearn Page */

  .learn-case {
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
  }

  .learn-slider {
    /* width: 300px;
    height: 400px; */
    background-color: transparent !important;
    color: transparent !important;
    border-radius: 20px;
  }

  .learn-slidermenu {
    background-color: #000 !important;
    height: 100%; 
    border-radius: 20px; 
  }

  .learn-rightarea {
    height: 800px;
    margin-left: 40px;
    margin-right: 30px;
    padding: 0px;
    border-radius: 20px;
    background-color: #ffffff70;
  }
  .learn-rightarea-detail {
    height: 1600px;
    margin-left: 40px;
    margin-right: 30px;
    padding: 0px;
    border-radius: 20px;
    background-color: #ffffff70;
  }

  .learn-breadcrumb {
    padding-top: 0px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 12px;
    font-size: 15px;
  }

  .learn-rightcontent {
    padding: 15px 40px 40px 40px;
    margin: 0;
    min-height: 280px;
    /* background: #271c1c; */
  }  

  .learn-card{
    border-radius: 15px;
    margin-bottom: 15px;
    height: 280px;
  }

  .learn-card Img {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  .ant-menu,.ant-menu-sub,.ant-menu-inline{
    color: rgb(0, 0, 0);
    font-weight: 50px;
    background-color: #ffffffe2 !important;
  }

  .ant-menu-sub {
    background-color: transparent !important;
  }

  .ant-menu-submenu-title{
    font-size: 18px;
    color: rgb(0, 0, 0) !important;
    font-weight: bolder;
  }

  .ant-menu-submenu {
    text-align:left;
  }
  
  .ant-menu-item-selected {
    background-color: #2531b7 !important;
    color: white !important;
  }

  .caseCard {
    border-radius: 15px;
    margin-bottom: 15px;
    height: 270px;
    width: 200px;
  }

  .card-content {
      display: -webkit-box; 
      word-break: break-all;
      text-overflow: ellipsis; 
      overflow: hidden;
      -webkit-line-clamp: 2 ;
      -webkit-box-orient: vertical;
      color: rgb(36, 30, 30);
  }

  /* Details */
  .detail-area {
    border-radius:20px;
    margin:auto;
    margin-top: 20px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
  }

  .detail-table {
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

  .detail-table-2 {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .ant-descriptions-item-label {
    font-size: 18px !important;
    font-weight: bold !important;
    color: #000 !important;
    width: 150px;
    /* background-color: rgba(242, 245, 251, 0.793) !important;  */
  }

  .ant-descriptions-item-content {
    width: 150px;
    font-size: 15px !important;
    background-color: transparent !important;
  }


  /* Exam */

  .exam-list {
    text-align: left !important;
  }

  .exam-slidermenu {
    font-size: 17px;
    color: #000 !important;
    color: #ffffff;
    border-radius: 15px;
  }

  .exam-rightarea {
    margin-left: 40px;
    margin-right: 30px;
    padding: 0px;
    border-radius: 20px;
    background-color: #fffffff2;
  }

  .exam-tag-choose {
    width: 200px;
    height: 400px;
    margin-top: 20px;
    background-color: #ebebeb8a;
    border-radius: 15px;
    color: #000;
    padding: 20px;
    font-size: 17px;
  }

  .exam-tag-choose-item {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  /* 开始答题界面  */
  .exam-container {
    font-size: 18px;
    margin-top: 30px;
  }

  .exam-container Form Button {
    align-items: center;
    background-color: #2531b7;
    margin: auto !important;
    width: 200px !important;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 17.5px;
    border-radius: 15px !important;
  }


/* 后台 systemManage */
.system-manage {
  padding-left: 60px;
  padding-right: 60px;
  background-color: transparent;
}

.system-manage-sider {
  /* width: 300px;
  height: 400px; */
  background-color: transparent !important;
  color: transparent !important;
  border-radius: 20px;
}

.system-manage-right {
  height: 100%;
  /* opacity: 0.8; */
  margin-left: 40px;
  margin-right: 30px;
  border-radius: 20px;
  background-color: #ffffff70;
  padding: 10px;
}

.system-manage-content {
  margin-top: 60px;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;
  /* background-color:  #ffffff70; */
  border-radius: 10px;
}